#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

/* Ant Design overrides */
.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ant-menu-horizontal {
  border-bottom: none;
}
